<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test">
		<classes>
			<class name="com.qa.eprocbilling.test.LoginPageTest" />
			<class name="com.qa.eprocbilling.test.MainMenuTest" />
			<class name="com.qa.eprocbilling.test.HomePageTest" />
			<class name="com.qa.eprocbilling.test.CustomerPageTest" />
			<class name="com.qa.eprocbilling.test.AddNewCustomerPageTest" />
			<class name="com.qa.eprocbilling.test.ItemPageTest" />
			<class name="com.qa.eprocbilling.test.AddItemPageTest" />
			<class name="com.qa.eprocbilling.test.LogoutPageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
